/*
=========================================
                CONFIGURACIÓ INICIAL
=========================================
*/
@charset "utf-8";
        @font-face{
            font-family:"minecraft";
            src:url('Minecraft.ttf');
        }
html{
    font-family:"minecraft";
}
body{
  background-color: black;
  color: white;
}
.header{
  text-align: center;
  border: gold 10px inset;
  background-color: #690000;
  font-size: 30px;
  height: 100px;
}
    .colHeader{
        width:33%;
        margin:0 auto;
    }
    .headerText{
        margin-top: 22px;
    }
    .controlAudio{
        float: right;
        width: 100px;
        height: 100px;

    }

.titol{
  font-size: 30px;
}
/*
=========================================
                PERSONATGE
=========================================
*/
.interface{
  width:1600px;
  height:750px;
  margin:50px auto;
}
    .Character{
      width:750px;
      height:300px;
      float:left;
      margin:10px;
      cursor:pointer;
      background-color:brown;
    }
    .Character:hover{
      background-color:#5867D2;
    }
        .imgCharacter{
          width:300px;

        }
        .titolCharacter{
          color: rgb(255,140,0);
          text-align: center;
          border: gold 7px inset;
          background-color: #690000;
          margin-right: 20px;
        }
        .textCharacter{
               width:425px;
               float:right;
             }
.textDescripcio{
    float: left
}
/*
=========================================
                PERSONATGE V2
=========================================
*/
    .Characterv2{
     width:1400px;
     height:750px;
     margin:auto;
     cursor:pointer;
     background-color:brown;
    }
         .imgCharacterv2{
           width: 750px;
           float: left;
         }
         .titolCharacterv2{
           width: 80%;
           margin: 5% auto;
           color: rgb(255,140,0);
           text-align: center;
           border: gold 7px inset;
           background-color: #690000;
         }
         .textCharacterv2{
            height: 750px;
            font-size: 30px;
            text-align: left;
            float: right;
            width: 650px;
            margin: auto;
         }
         .attrCharacterv2{
             padding-left: 10%;
         }
/*
=========================================
                ENEMIC
=========================================
*/
    .interfaceEnemic{
       display:none;
    }
    .Enemyv2{
       width:1400px;
       height:750px;
       margin:auto;
       background-color:brown;

    }
    .imgEnemy{
        width: 750px;
        float: left;
    }
    .titolEnemy{
       width: 80%;
       margin: 5% auto;
       color: rgb(255,140,0);
       text-align: center;
       border: gold 7px inset;
       background-color: #690000;
       font-size: 30px;
    }
    .textEnemy{
      height: 750px;
      font-size: 30px;
      text-align: left;
      float: right;
      width: 650px;
      margin: auto;
    }
    .attrEnemyv2{
        float: right;
        padding-right: 10%;
    }
    /*
    =========================================
                   ALTRES
    =========================================
    */
    .taskHeader{
        margin-top: 22px;
    }
    .btn-prefight{
        width: 90%;
        height: 50px;
        border: gold 7px inset;
        background-color: #690000;
        font-size: 30px;
        color: white;
        text-align: center;
        font-family: minecraft;
        cursor: pointer;
        margin-top: 40%;
    }
    .btn-prefight:hover{
        background-color: #5867D2;
    }
