body{
  background-color: black;
  color: white;
}
.header{
  text-align: center;
  border: gold 10px inset;
  background-color: #690000;
  font-size: 30px;
  height: 100px;
}
    .headerText{
        margin-top: 22px;
    }
.titol{
  font-size: 30px;
}
.interface{
  width:1600px;
  height:750px;
  margin:50px auto;
}
    .Character{
      width:750px;
      height:300px;
      float:left;
      margin:10px;
      cursor:pointer;
      background-color:brown;
    }
    .Character:hover{
      background-color:#5867D2;
    }
        .imgCharacter{
          width:300px;

        }
        .titolCharacter{
          color: rgb(255,140,0);
          text-align: center;
          border: gold 7px inset;
          background-color: #690000;
          margin-right: 20px;
        }
        .textCharacter{
               width:425px;
               float:right;
             }
.textDescripcio{
    float: left
}
 .Characterv2{
   width:1400px;
   height:750px;
   margin:auto;
   cursor:pointer;
   background-color:brown;
 }
     .imgCharacterv2{
       width: 750px;
       float: left;
     }
     .titolCharacterv2{
       width: 80%;
       margin: 5% auto;
       color: rgb(255,140,0);
       text-align: center;
       border: gold 7px inset;
       background-color: #690000;
     }
     .textCharacterv2{
            height: 750px;
            font-size: 30px;
            text-align: center;
            float: right;
            width: 650px;
            margin: auto;
          }
.taskHeader{
    margin-top: 22px;
}
.btn-prefight{
    width: 700px;
    height: 50px;
    border: gold 7px inset;
    background-color: #690000;
    font-size: 30px;
    color: white;
    text-align: center;

}
    .btn-prefight:hover{
        background-color: #5867D2;
    }
