.blauClass {
    width: 200px;
    height: 200px;
}
    
/*
=============================================
                PRIMER INTENT
=============================================
*/
    #msg1-1 {
        width: 35px;
        height: auto;
    }
    #msg1-2 {
        width: 35px;
        height: auto;
    }
    #msg1-3 {
        width: 35px;
        height: auto;
    }
    #msg1-4 {
        width: 35px;
        height: auto;
    }
    #msg1-5 {
        width: 35px;
        height: auto;
    }

/*
=============================================
                SEGON INTENT
=============================================
*/

    #msg2-1 {
        width: 35px;
        height: auto;
    }
    #msg2-2 {
        width: 35px;
        height: auto;
    }
    #msg2-3 {
        width: 35px;
        height: auto;
    }
    #msg2-4 {
        width: 35px;
        height: auto;
    }
    #msg2-5 {
        width: 35px;
        height: auto;
    }

/*
=============================================
                TERCER INTENT
=============================================
*/

    #msg3-1 {
        width: 35px;
        height: auto;
    }
    #msg3-2 {
        width: 35px;
        height: auto;
    }
    #msg3-3 {
        width: 35px;
        height: auto;
    }
    #msg3-4 {
        width: 35px;
        height: auto;
    }
    #msg3-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                QUART INTENT
=============================================
*/

    #msg4-1 {
        width: 35px;
        height: auto;
    }
    #msg4-2 {
        width: 35px;
        height: auto;
    }
    #msg4-3 {
        width: 35px;
        height: auto;
    }
    #msg4-4 {
        width: 35px;
        height: auto;
    }
    #msg4-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                CINQUÉ INTENT
=============================================
*/

    #msg5-1 {
        width: 35px;
        height: auto;
    }
    #msg5-2 {
        width: 35px;
        height: auto;
    }
    #msg5-3 {
        width: 35px;
        height: auto;
    }
    #msg5-4 {
        width: 35px;
        height: auto;
    }
    #msg5-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                SISÉ INTENT
=============================================
*/

    #msg6-1 {
        width: 35px;
        height: auto;
    }
    #msg6-2 {
        width: 35px;
        height: auto;
    }
    #msg6-3 {
        width: 35px;
        height: auto;
    }
    #msg6-4 {
        width: 35px;
        height: auto;
    }
    #msg6-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                SETÉ INTENT
=============================================
*/

    #msg7-1 {
        width: 35px;
        height: auto;
    }
    #msg7-2 {
        width: 35px;
        height: auto;
    }
    #msg7-3 {
        width: 35px;
        height: auto;
    }
    #msg7-4 {
        width: 35px;
        height: auto;
    }
    #msg7-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                VUITÉ INTENT
=============================================
*/

    #msg8-1 {
        width: 35px;
        height: auto;
    }
    #msg8-2 {
        width: 35px;
        height: auto;
    }
    #msg8-3 {
        width: 35px;
        height: auto;
    }
    #msg8-4 {
        width: 35px;
        height: auto;
    }
    #msg8-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                NOVÉ INTENT
=============================================
*/

    #msg9-1 {
        width: 35px;
        height: auto;
    }
    #msg9-2 {
        width: 35px;
        height: auto;
    }
    #msg9-3 {
        width: 35px;
        height: auto;
    }
    #msg9-4 {
        width: 35px;
        height: auto;
    }
    #msg9-5 {
        width: 35px;
        height: auto;
    }
/*
=============================================
                DESÉ INTENT
=============================================
*/

    #msg10-1 {
        width: 35px;
        height: auto;
    }
    #msg10-2 {
        width: 35px;
        height: auto;
    }
    #msg10-3 {
        width: 35px;
        height: auto;
    }
    #msg10-4 {
        width: 35px;
        height: auto;
    }
    #msg10-5 {
        width: 35px;
        height: auto;
    }